@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/aux-mono/aux-mono.otf");
  font-weight: 200;
}

@font-face {
  font-family: 'San Francisco Bold';
  src: url("../fonts/aux-mono/aux-mono.otf");
}

body {
  margin: 0;
  font-family: 'San Francisco';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  overflow-x: hidden;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.MuiButton-outlined {
  border: 2px solid #666666;
}

.demo-option {
  width: 20vw;
  clear: both;
}

#landing-main {
  transition: color 2s ease;
}

.MuiInputLabel-shrink {
  top: 2px !important;
}

.market-area {
  position: absolute;
  clear:both;
}

.web3modal-modal-card {
  min-width: 0px !important;
}

.MuiTable-stickyHeader {
  border-collapse: collapse !important;
}

.MuiButton-outlined, .MuiOutlinedInput-notchedOutline {
  border: 2px solid #666666;
}

.MuiInput-underline:before, .MuiInput-underline:active:before {
  border: none !important;
}

.MuiInputAdornment-positionEnd {
    margin-left: 2px !important;
}

.MuiTableRow-root.Mui-selected {
  background-color: rgba(102, 255, 255, 0.1) !important;
}

#passed span {
  font-family: 'San Francisco Bold' !important;
  background: #00e79a !important;
  padding: 3.75px 7.5px !important;
  font-size: .875em;
  text-align: center;
}

#passed span span {
  width: 100px;
}

#active span {
  font-family: 'San Francisco Bold' !important;
  background: #645eff !important;
  padding: 3.75px 7.5px !important;
  font-size: .875em;
  text-align: center;
}

#active span span {
  width: 100px;
}

#executed span {
  font-family: 'San Francisco Bold' !important;
  background: #66FFFF !important;
  padding: 3.75px 7.5px !important;
  font-size: .875em;
  text-align: center;
}

#executed span span {
  width: 100px;
}

#rejected, #passed, #executed, #active {
  margin-top: 7.5px;
}

#rejected o, #passed o, #executed o, #active o {
  margin-left: 5px;
  padding-top: 10px;
  float: 'right';
}

::-webkit-scrollbar {
    width: .675em;
    z-index: 4 !important;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(	102, 102, 102, 0.375);
 }

#rejected o {
  color: #ff005a!important;
}

#passed o {
  color: #00e79a!important;
}

#executed o {
  color: #66FFFF !important;
}

#active o {
  color: #645eff !important;
}

#rejected span {
  font-family: 'San Francisco Bold' !important;
  background: #ff005a!important;
  padding: 3.75px 7.5px !important;
  font-size: .875em;
  text-align: center;
}

#rejected span span {
  width: 100px;
}

code {
  background: #c8c8c8;
  font-family: San Francisco;
  color: #333333;
  border-radius: 2.5px;
  padding: 2.5px;
}

blockquote {
  padding: 0 5px;
  border-left: 3px solid #c8c8c8;
  margin: 0 17.5px;
}

blockquote p {
  color: #7a7a7a !important;
  margin-left: 7.5px;
}

pre code {
    display: flex;
    font-size: inherit;
    word-break: normal;
    padding: 10px 15px;
    border-radius: 5px;
    background: #c8c8c8;
    font-family: San Francisco;
    color: #333333;
    width: auto;
}
