@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/aux-mono/aux-mono.otf");
  font-weight: 200;
}

@font-face {
  font-family: 'San Francisco Bold';
  src: url("../fonts/aux-mono/aux-mono.otf");
}

@keyframes color-change {
  0% { color: black; }
  50% { color: white; }
  100% { color: black; }
}

body {
  margin: 0;
  font-family: 'San Francisco';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
}

.demo-option {
  width: 20vw;
  clear: both;
}

.market-options {
  font-size: 14px;
  list-style: none;
  width: 50%;
  float: right;
  padding-right: 15px;
  padding-top: 5px;
  color: #999999;
}

#landing-main {
  transition: color 2s ease;
}

.market-select {
  position: absolute;
  padding-left: 1.75em;
}

.market-select h2 {
  margin-bottom: 0px;
}

.market-select h3 {
  margin-top: 10px;
  color: #999999;
}

.market-options li {
  margin-bottom: 7.5px;
}

.market-options li span {
  float: right;
  color: #666666;
}

.MuiInputLabel-shrink {
  top: 2px !important;
}

.market-area {
  position: absolute;
  clear:both;
}

.MuiTableCell-stickyHeader {
  background: white !important;
}

.MuiTable-stickyHeader {
  border-collapse: collapse !important;
}

.MuiButton-outlined, .MuiOutlinedInput-notchedOutline {
  border: 2px solid #666666 !important;
}

.MuiInput-underline:before, .MuiInput-underline:active:before {
  border: none !important;
}

.MuiInputAdornment-positionEnd {
    margin-left: 2px !important;
}

.MuiTableRow-root.Mui-selected {
  background-color: rgba(102, 255, 255, 0.1) !important;
}
