@font-face {
  font-family: 'San Francisco';
  font-weight: 'normal';
  src: url("../fonts/apple-sf/sf.otf");
}


body {
  margin: 0;
  font-family: 'San Francisco';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
