@font-face {
  font-family: 'San Francisco';
  src: url("../fonts/sf-mono/SFMonoLight.otf");
}

@font-face {
  font-family: 'San Francisco Bold';
  src: url("../fonts/sf-mono/SFMonoRegular.otf");
}

body {
  margin: 0;
  font-family: 'San Francisco';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overflow-x: hidden;
  margin: 0;
}
